footer {
  width: 100% !important;
  height: auto !important;
  background-color: grey !important;
}

aside {
  margin: 0 !important;
  width: 15% !important;
  float: left !important;
  background: pink !important;
  height: auto !important;
  padding: 0 !important;
}

.container {
  display: inline-block;
  width: 84vw !important;
  height: auto !important;
  background: white !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: #020281;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

ul li {
  text-decoration: none !important;
  text-transform: none !important;
  list-style: none !important;
  margin: 0 !important;
  width: auto !important;
  padding: 30px !important;
  border: 1px solid rgb(17, 15, 15);
}

.container h1 {
  color: red !important;
  border: 1px solid black;
  text-align: center;
  font-size: 40px !important;
  margin: 0 !important;
}

.menu_nested li {
  list-style: circle !important;
  padding: 0 !important;
  margin-left: 15% !important;
  border: none !important;
}

.texto {
  padding-left: 8px !important;
  background: none !important;
}

.inside_text {
  margin: 0 !important;
  padding: 0 !important;
}

.inside_text li {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
