footer {
  width: 100% !important;
  height: auto !important;
  background-color: rgba(206, 206, 206, 0.5) !important;
}

aside {
  margin: 0 !important;
  width: 15% !important;
  float: left !important;
  background: #eaeaea !important;
  height: auto !important;
  padding: 0 !important;
  position: fixed !important;
  display: inline-block !important;
}

.container {
  display: inline-block;
  width: 84vw !important;
  height: auto !important;
  background: white !important;
  margin-left: 15% !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: rgba(206, 206, 206, 0.5);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
a {
  font-size: 18px !important;
}
ul li {
  text-decoration: none !important;
  text-transform: none !important;
  list-style: none !important;
  margin: 0 !important;
  width: auto !important;
  padding: 30px !important;
  border: 1px solid rgba(206, 206, 206, 0.5);
  font-size: 18px !important;
}
aside ul li:hover {
  background: rgba(148, 143, 143, 0.5);
}
.container h1 {
  color: #00008b !important;
  border: 1px solid black;
  text-align: center;
  font-size: 40px !important;
  margin: 0 !important;
  border: none !important;
}

.menu_nested li {
  list-style: circle !important;
  padding: 0 !important;
  margin-left: 15% !important;
  border: none !important;
}

.texto {
  padding-left: 8px !important;
  background: none !important;
}

.inside_text {
  margin: 0 !important;
  padding: 0 !important;
}

.inside_text li {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

p {
  font-size: 18px !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  aside {
    margin: 0 !important;
    width: 33% !important;
    float: left !important;
    background: #eaeaea !important;
    height: auto !important;
    padding: 0 !important;
  }
  ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  ul li {
    margin: 0 !important;
    padding: 16px 8px !important;
  }

  .container {
    display: inline-block;
    width: 67vw !important;
    height: auto !important;
    background: white !important;
  }
}
